*.la
*.lo
*.o
*~
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/htp.pc
/htp/.deps/
/htp/.libs/
/htp/Makefile
/htp/Makefile.in
/INSTALL
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/nbproject/
/nbproject/private/
/stamp-h1
/test/.deps/
/test/.libs/
/test/Makefile
/test/Makefile.in
/test/main*
/test/test_bstr*
extras/ruby/*.gem
/docs/Makefile
/docs/Makefile.in
