[submodule "libs/luajit-2.0-ironbee"]
	path = libs/luajit-2.0-ironbee
	url = git://github.com/ironbee/luajit-2.0-ironbee.git
[submodule "docs/docbook"]
	path = docs/docbook
	url = git://github.com/ironbee/ironbee-documentation.git
[submodule "tests/gtest"]
	path = tests/gtest
	url = git://github.com/ironbee/ironbee-gtest.git
