language: c
compiler:
  - gcc
  - clang
# Change this to your needs
script: sh autogen.sh && ./configure && make && make check && make distcheck
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y build-essential autoconf automake libtool zlib1g zlib1g-dev make 

