# A basic ironbee configuration
# for getting an engine up-and-running.
LogLevel 9

LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_ac.so"
LoadModule "ibmod_rules.so"
LoadModule "ibmod_user_agent.so"

SensorId B9C1B52B-C24A-4309-B9F9-0EF4CD577A3E
SensorName UnitTesting
SensorHostname unit-testing.sensor.tld

Set parser "htp"

<Site test-site>
  SiteId AAAABBBB-1111-2222-3333-000000000000
  Hostname somesite.com
</Site>

