# A basic ironbee configuration
# for getting an engine up-and-running.
LogLevel 9

LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
LoadModule "ibmod_user_agent.so"

SensorId B9C1B52B-C24A-4309-B9F9-0EF4CD577A3E
SensorName UnitTesting
SensorHostname unit-testing.sensor.tld

Set RuleEngineDebugLogLevel "debug"
RuleEngineLogLevel "debug"
RuleEngineLogData +all

# Disable audit logs
AuditEngine Off

Set parser "htp"

<Site test-site>
  SiteId AAAABBBB-1111-2222-3333-000000000000
  Hostname *

  ####################################
  # Configurations to exercise RNS-98
  # Create Int
  InitVar TWO 2
  # Compare int/int
  Rule TWO @lt 3 id:1 rev:1 phase:REQUEST event "SetVar:r1=1"
  # Compare int/float
  Rule TWO @lt 3.0 id:2 rev:1 phase:REQUEST event "SetVar:r2=1"

  # Create Float
  InitVar TWO_DOT_ZERO 2.0
  # Compare float/float
  Rule TWO_DOT_ZERO @lt 3.0 id:3 rev:1 phase:REQUEST "SetVar:r3=1"
  # Compare float/int
  Rule TWO_DOT_ZERO @lt 3 id:4 rev:1 phase:REQUEST "SetVar:r4=1"
  ####################################

</Site>

