LogLevel 9
LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
Set parser "htp"

# Disable audit logs
AuditEngine Off

<site test-pcre>
  SiteId AAAABBBB-1111-2222-3333-000000000000
  Hostname *
  Rule request_headers.user-agent @pcre MyPattern id:pcre phase:REQUEST_HEADER
</site>

