LogLevel 99
LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
Set parser "htp"

<site test-pcre>
  SiteId AAAABBBB-1111-2222-3333-000000000000
  Hostname *

  # Request gets overwritten on purpose.
  Rule request_headers "@pcre (.*)" id:pcre_request phase:REQUEST_HEADER

  # Overwrite the request headers. We assert on the response headers.
  Rule response_headers "@pcre (.*), (.*)" id:pcre_response phase:RESPONSE_HEADER
</site>
