LogLevel Trace
LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
Set parser "htp"

# Disable audit logs
AuditEngine Off

# Look at the both headers
InspectionEngineOptions RequestHeader +ResponseHeader
Set RuleEngineDebugLogLevel Trace
RuleEngineLogLevel Debug

<site test-pcre-capture>
  SiteId AAAABBBB-1111-2222-3333-000000000002
  Hostname *

  # Request gets overwritten on purpose.
  Rule request_headers @pcre "(.*)" id:pcre_request_capture_req phase:REQUEST_HEADER CAPTURE

  # Overwrite the request headers. We assert on the response headers.
  Rule response_headers @pcre "(header(\d))" id:pcre_response_capture_rsp phase:RESPONSE_HEADER CAPTURE
</site>
