### Logging
#Log /var/log/ironbee/debug.log
LogLevel 9

### Sensor Info
# Sensor ID, must follow UUID format
SensorId AAAABBBB-1111-2222-3333-FFFF00000023
# Arbitrary name
SensorName ExampleSensorName
# Arbitrary hostname
SensorHostname example.sensor.tld

### Load Modules

# Must load perf stats module first if you enable it.
#LoadModule "ibmod_perf_stats.so"

LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_ac.so"
LoadModule "ibmod_rules.so"

# Parse the user agent
#LoadModule "ibmod_user_agent.so"

# GeoIP lookup
#LoadModule "ibmod_geoip.so"
#GeoIPDatabaseFile /var/lib/GeoIP/GeoLiteCity.dat

# Enable inspection engine (TODO: Implement)
#InspectionEngine On

# Enable audit engine
AuditEngine RelevantOnly
#AuditLogIndex "|/usr/bin/logger"
AuditLogIndex auditlog.log
AuditLogBaseDir /tmp/ironbee
AuditLogSubDirFormat "%Y%m%d-%H%M"
AuditLogDirMode 0755
#AuditLogFileMode 0644
AuditLogParts minimal request -requestBody response -responseBody

### Buffering
# Request
RequestBuffering On
# Response (TODO Implement)
#ResponseBuffering Off

# -- Sites --
Include "site-1.conf"
Include "site-2.conf"
Include "site-default.conf"
