### Sensor Info
# 32-bit numeric value
SensorId 0x98765432
# Arbitrary name
SensorName ExampleSensorName
# Arbitrary hostname
SensorHostname example.sensor.tld

### Logging
LogLevel 4
# TODO: Default is still stderr logging - this will go to Apache error_log
Set logger "mod_ironbee"

### Load Modules
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_htp.so"

# Lua
LoadModule "ibmod_lua.so"
LoadModuleLua "example.lua"

### Main Context (need separate directives for these)
Set parser "htp"

# Enable inspection engine (TODO: Implement)
#InspectionEngine On

# Enable audit engine
AuditEngine RelevantOnly
AuditLogIndex auditlog.log
AuditLogBaseDir /var/log/ironbee/auditlog
AuditLogDirMode 0750
#AuditLogFileMode 0640

### Buffering
# Request
RequestBuffering On
# Response (TODO Implement)
#ResponseBuffering Off

# -- Sites --
# TODO: Hostname - currently wildcard can only be on left

# Site 1
<Site site1>
    Hostname * ip=127.0.0.1

    <Location /foo>
        LogLevel 9
    </Location>
</Site>

# Site 2
<Site site2>
    Hostname * ip=127.0.1.1
</Site>

# Default
<Site default>
    Hostname *
</Site>

