# Load Modules
# TODO Implement
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_htp.so"
LoadModule "ibmod_lua.so"

# Main Context (need separate directives for these)
Set parser "htp"
Set logger.log_level 4

# TODO: ibmod_lua.so needs to add this directive
#LoadLuaModule "example.lua"

# Enable inspection engine
# TODO: Implement
InspectionEngine On

# Enable audit engine
# TODO: Implement
AuditEngine On
AuditLog "/var/log/ironbee/auditlog.log"
AuditLogStorageDir "/var/log/ironbee/auditlog/"

# -- Sites --
# TODO: Hostname - currently wildcard can only be on left

# Site 1
<Site site1>
    Hostname * ip=127.0.0.1
    # TODO: Currently these need set in each context
    Set parser "htp"
    Set logger.log_level 4

    <Location /foo>
        # TODO: Currently these need set in each context
        Set parser "htp"
        Set logger.log_level 9
    </Location>
</Site>

# Site 2
<Site site2>
    Hostname * ip=127.0.1.1
    # TODO: Currently these need set in each context
    Set parser "htp"
    Set logger.log_level 4
</Site>

# Default
<Site default>
    Hostname *
    # TODO: Currently these need set in each context
    Set parser "htp"
    Set logger.log_level 4
</Site>

