*.la
*.lo
*.slo
*.m4
*.o
*~
.libs
/a.out.dSYM
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/src/.deps/
/src/.libs/
/src/hello
/src/hello.exe
/src/Makefile
/src/Makefile.in
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/nbproject/
/nbproject/private/
/stamp-h1
/test/.deps/
/test/.libs/
/test/Makefile
/test/Makefile.in
/test/test
/test/test.exe
