LogLevel Debug

LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
LoadModule "ibmod_user_agent.so"

<Site default>
    SiteId AAAABBBB-1111-2222-3333-000000000666
    Hostname *
    Service *:*

    <Location />
        InitVar foo 1
        Rule foo @eq 1 id:inject-1 phase:REQUEST_HEADER store
        Rule foo @eq 1 id:inject-2 phase:REQUEST_HEADER store
        Rule foo @eq 1 id:inject-3 phase:REQUEST_HEADER inject store
        Rule foo @eq 1 id:inject-4 phase:REQUEST_HEADER inject store
    </Location>
</Site>
