LogLevel Debug
LoadModule "ibmod_htp.so"
LoadModule "ibmod_pcre.so"
LoadModule "ibmod_rules.so"
LoadModule "ibmod_ee.so"

# To create eudoxus_pattern1.e:
# echo -e "string_to_match\nstring with spaces\nbogusxxx" | ac_generator > eudoxus_pattern1.a
# ec eudoxus_pattern1.a
LoadEudoxus "pattern1" "eudoxus_pattern1.e"
RuleEngineLogLevel Debug
Set RuleEngineDebugLogLevel Trace
InspectionEngineOptions all

# Disable audit logs
AuditEngine Off

<site test-pcre>
  SiteId AAAABBBB-1111-2222-3333-000000000000
  Hostname *

  Rule request_headers @ee pattern1 capture id:ee_test1 \
      phase:REQUEST_HEADER "SetVar:request_matched=1" "!SetVar:request_matched=0"
  Rule response_headers @ee pattern1 capture id:ee_test2 \
      phase:RESPONSE_HEADER "SetVar:response_matched=1" "!SetVar:response_matched=0"
  StreamInspect REQUEST_HEADER_STREAM \
      @ee pattern1 id:ee_stream_test1 \
      "SetVar:stream_pattern1_matched=1" "!SetVar:stream_pattern1_matched=0"
</site>
